.sectionContatos{
    background-color: #27140c;
    width: 30vw !important;
}
.btnContatos{
    width: 100% !important;
    height: 4vh;
    border-radius: 0px !important;
    background-color: #27140c;
    color: #bf8d39;
    border-bottom: 1px solid #fff;
}