*{
    margin:0px;
    padding: 0px;;
}

main{
    display:flex;
    justify-content: center;
    height: 94vh !important;
    width: 100vw !important;
}
.sectionCharla{
    display:flex;
    flex-direction: column;
    justify-content: end;
    width: 70vw !important;
}