header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34140e;
    padding: 0px 15px 0px 15px;
    height: 12vh !important;
}
.logo{
    width: 5rem !important;
    height: 4rem !important;
 }

/* 
.barraDePesquisa{
    height: 2rem;
    width: 20rem;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 5px;
} */