header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040404;
    padding: 0px 15px 0px 15px;
    height: 6vh !important;
}
.logo{
    width: 4.5rem !important;
    height: 3.5rem !important;
    margin: 10px 0px !important;
 }

/* 
.barraDePesquisa{
    height: 2rem;
    width: 20rem;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 5px;
} */