.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 0px 15px 0px 15px;
}
.logo{
    width: 5rem !important;
    height: 5rem !important;
}
.barraDePesquisa{
    height: 3rem;
    width: 20rem;
    border-radius: 5%;
}