*{
    margin: 0px;
    padding: 0px;
}
.balaoMensagem{
    min-width: 4%;
    float:right !important;
    max-width: 40%;
    background-color:#747474; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0.5rem;
}
.texto{
    padding: 0.6rem !important;
    word-wrap:break-word;
    color: white;
}

.balaoMensagemOposto{
    min-width: 4%;
    max-width: 40%;
    float:left !important;
    background-color:#131313; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0.5rem;
}
.tituloOposto{
    color:#bf8d39;
    padding: 0.2rem 0 0 0.6rem !important;
    word-wrap:break-word;
    margin-right: 0.5rem !important;
}
.textoOposto{
    padding: 0.6rem !important;
    word-wrap:break-word;
    text-align:end;
    color:white;
}