.sectionConversa{
    height: 100% !important;
    width: 100% !important;
    background-color: #272727;
    background-image: url("../../../public/fundoWhattsApp.png");
    background-size: contain;
    overflow: auto;
}